<div id="<%= dom_id produto %>">
  <p>
    <strong>Name:</strong>
    <%= produto.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= produto.code %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= produto.price %>
  </p>

</div>
